/*
 * CSS Menu: see http://www.w3schools.com/css/css_dropdowns.asp
 */
ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.menu li {
    float: left;
}

.dropdown-content a, .dropbtn {
    display: inline-block;
    color: #30703a;
    text-align: center;
    background: #dddddd;
    padding: 7px 8px;
    text-decoration: none;
    border-radius: 20px;
    border: 2px solid #30703a;
    margin: 2px 4px;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: white;
}

li dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #dddddd;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 6px 6px;
    text-decoration: none;
    display: block;
    text-align: left;
    z-index: 1;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

/*
 * Menu items.
 */
.menuitem
{
    border: 0px;
    color: #30703a;
    margin: 2px 4px;
    padding: 2px;
}

